<div id="reviews" class="row">
  <h3>レビュー</h3>

  <% if reviews %>
    <table class="table table-bordered table-striped" id="reviews">
      <thead>
        <tr>
          <th>ID</th>
          <th>stars</th>
          <th>user名</th>
          <th>日付</th>
          <th>レビュー</th>
          <th>Version</th>
        </tr>
      </thead>

      <tbody>
        <% reviews.order(:id.desc).each do |review| %>
          <tr>
            <td><%= review[:id] %></td>
            <td><%= review[:star] %></td>
            <td><%= review[:user] %></td>
            <td><%= review[:date] %></td>
            <td><h5><%= review[:title] %></h5><%= review[:body] %></td>
            <td><%= review[:version] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
