        <script type="text/javascript" src="/js/jquery.form.js"></script>
        <script type="text/javascript" src="/js/star_graph.js"></script>
        <title>AppReviewViewer</title>
        <script type="text/javascript">
        <!--
        $(function() {
            //j$("table#reviews").tablesorter({ sortList: [[0,1]] });
            $("table#reviews").tablesorter();

            var form_option = {
              success: function() {
                  $('#add_app_form').toggle();
                  document.location.reload(true);
              },
              error: function() {
                  alert('error');
              }
            }; 
            $('#add_app').ajaxForm(form_option);
            $('#toggle_app_form').click(function(){
                $('#add_app_form').toggle();
            });

            var graph_data = [
                {value: <%= @stars[4] %>},
                {value: <%= @stars[3] %>},
                {value: <%= @stars[2] %>},
                {value: <%= @stars[1] %>},
                {value: <%= @stars[0] %>},
            ];
            render_graph(graph_data);
        });
        -->
        </script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top"> 
            <div class="navbar-inner"> 
                <div class="container"> 
                    <a href="" class="brand">AppStore Reviews</a>
                </div> 
            </div> 
        </div> 


        <div class="container-fluid">

            <!-- menu -->
            <div class="span3">
              <%= partial(:_side_menu, :apps => @apps) %>
              <%= partial(:_query_panel, :versions => @versions, :app_id => @app[:app_id]) %>
            </div>

            <!-- content -->
            <div class="span9">
                <div class="container">
                    <% if @app %>
                      <h1><%= @app[:name] %>のレビュー</h1>

                      <%= partial(:_star_panel, :stars => @stars) %>

                      <%= partial(:_keyword_panel, :keywords => @keywords) %>

                      <%= partial(:_review_table, :reviews => @reviews) %>

                    <% else %>
                      アプリが登録されていません
                    <% end %>
                </div> 
        </div> 
    </body>
